<!DOCTYPE html>
<html>
<head>
    <title>图片上传和展示</title>
    <link rel="stylesheet" href="../static/css/styles.css" >
</head>
<body>
    <div id="container">
        <div id="left-panel">
            <ul>
                <li class="dropdown">
                    <button class="button">风格选择</button>
                    <div class="dropdown-content">
                        <a href="new2.html">油画</a>
                        <a href="new2.html">二次元</a>
                    </div>
                </li>
                <li class="dropdown">
                    <button class="button">迁移方式</button>
                    <div class="dropdown-content">
                        <a href="new2.html">背景保持</a>
                        <a href="new2.html">人物分割</a>
                    </div>
                </li>
                <li class="dropdown">

                    <button class="button" buttom="https://github.com/ZhaoWeizhi/Image-transfer-with-background-preserved-storage">Github</button>
                    
                    
                    <!-- <a href="https://github.com/ZhaoWeizhi/Image-transfer-with-background-preserved-storage" class="button">Github</a>   -->
                    
                  
                </li>
            </ul>
        </div>
        <div id="right-panel">
            <div id="image-preview">
                <img id="uploaded-image" src="{{url}}" alt="上传的图片"/>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function getElementViewPosition(element){
            //计算x坐标
            var actualLeft = element.offsetLeft;
            var current = element.offsetParent;
            while (current !== null){
                actualLeft +=  (current.offsetLeft+current.clientLeft);
                current = current.offsetParent;
            }
            if (document.compatMode == "BackCompat"){
                var elementScrollLeft=document.body.scrollLeft;
            } else {
                var elementScrollLeft=document.documentElement.scrollLeft;
            }
            var left = actualLeft - elementScrollLeft;
            //计算y坐标
            var actualTop = element.offsetTop;
            var current = element.offsetParent;
            while (current !== null){
                actualTop += (current.offsetTop+current.clientTop);
                current = current.offsetParent;
            }
            if (document.compatMode == "BackCompat"){
                var elementScrollTop=document.body.scrollTop;
            } else {
                var elementScrollTop=document.documentElement.scrollTop;
            }
            var right = actualTop-elementScrollTop;
            //返回结果
            return {x: left, y: right}
        }

        function printMousePos(event) {
            document.getElementById("p").textContent =
                "clientX: " + event.clientX +
                " - clientY: " + event.clientY;
            var x = String(event.clientX);
            var y = String(event.clientY);
            var elemen = getElementViewPosition(document.getElementById("image-preview"));
            var ex = String(elemen.x);
            var ey = String(elemen.y);
            // alert(ex);
            //神奇的是，如果写成 document.getElementById("uploaded-image").height 就不能运送
            var element = document.getElementById("uploaded-image");
            // alert(element)
            var renderHeight = String(element.height);
            // alert(ex);
            // alert(ey);
            // alert(renderHeight);
            window.location = "{{url_for('showEffRes', name=name, x='holdX', y='holdY', ex='holdEx', ey='holdEy', rh='holdRh')}}".replace('holdX', x).replace('holdY', y).replace('holdEx', ex).replace('holdEy', ey).replace('holdRh', renderHeight);
        }
        document.addEventListener("click", printMousePos);
        xhr.send(params);

    </script>
    <p id="p"></p>
</body>
</html>
